*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.btn{
  background-color: blue;
  color: white;
}

h1{
  text-align: center;
}

h2{
  margin: 10px 0;
  text-align: center;
}

p{
  text-align: center;
}

ul, li{
  text-indent: 0;
}

.card{
  max-width:250px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsl(0, 0%, 76%);
  background-color: aqua;
  display: inline-block;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-image{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.student{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.box{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  background-color: hsl(0, 1%, 85%);
}

.counter p {
  font-size: 3rem;
}

.color-display{
  border-radius: 10px;
  width: 70%;
  transition: 0.25s ease;
  text-align: center;
  padding: 50px 0px;
  font-size: 2rem;
}